@font-face {
  font-family: "iconfont"; /* Project id 2591507 */
  src: url('iconfont.woff2?t=1622775727033') format('woff2'),
       url('iconfont.woff?t=1622775727033') format('woff'),
       url('iconfont.ttf?t=1622775727033') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e601";
}

.icon-caidanlanshouqix:before {
  content: "\e602";
}

.icon-fenxiang:before {
  content: "\e68f";
}

.icon-caidanlanzhankaix:before {
  content: "\e600";
}

